* {
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    margin: 0;
    padding: 0;
    font-family: Verdana, Trebuchet, Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;

    display: flex; 
    flex-direction: column; 
}

/* Format warning if JS is disabled - CSS is not currently working at the moment */
noscript {
    padding: 10px;
    background: #00ff15;
}

h1 {
    font-size: 40px;
}

img {
    width: 150px; 
    height: 150px; 
    border: 0
}

header {
    height: 52px;
    background-color: #000b30;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

header a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;  /* Don't remove this, or else it's illegible on mobile! - currently not working */
}

header a.top {
    float: left;
}

header a:hover {
    background-color: #bccbff;
    color: black;
}


footer {
    margin-top: auto;
    height: 60px;
    padding: 4px 40px;
    text-align: left;
    background: #000b30;
    color: white;
}


/* Controls the page header (with title of the page) */
.intro {
    padding: 60px;
    text-align: left;
    background: #00155a;
    color: white;
    font-size: 18px;
}


/* Styling the main page's about section */
.about {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 60px;
    text-align: center;
    background: #d2ddff;
    color: black;
}

.aboutimg {
    flex: 20%;
}

.abouttext {
    flex: 60%;
    text-align: right;
}

.about a {
    float: right;
}

.about a:hover {
    background-color: #bccbff;
    color: black;
}


/* Controls the main page's skills section (with the buttons) */
.skills {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


/* Styling progress bar colours */
progress {
    /* reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    background-color: #c5c5c5;
}

/* Chrome/Safari */
progress::-webkit-progress-bar { background-color: #c5c5c5; }
progress::-webkit-progress-value { background-color: #5cff33 !important; }
/* Firefox */
progress::-moz-progress-bar { background-color: #5cff33 !important; }
/* IE/Edge */
progress { color: #5cff33; }


/* Section of icon buttons in skills section */
.icons {
    flex: 55%;
    background-color: white;
    padding: 25px;
}

/* Grouping of icon button (iconlink) and text */
.icon {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 150px;
}

/* The text underneath each icon */
.caption {
    display: block;
    font-size: 16px;  /* Don't remove this, or else it's illegible on mobile! */
}

/* The actual icon itself, which is a clickable button */
.iconlink {
    background-color: inherit;
    float: center;
    border: none;
    transition: 0.3s;
}

.iconlink:hover {
    background-color: #ddd;
}

.iconlink.active {
    background-color: #ccc;
}


/* Styling the skills tab (showing brief descriptions & icon of each skill on main page) */
/* Styling the tabs for icons */
.tab {
    overflow: hidden;
}

/* Set font size of names of each tab so they aren't vanishingly small 
   Don't remove this, otherwise it's illegible on mobile! */
.tablinks {
    font-size: 16px;
}

.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: Verdana, Trebuchet, Helvetica, Arial, sans-serif;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}


/* The section for displaying information about each icon/skill */
.info {
    flex: 45%;
    background-color: #ececec;
    padding: 50px;
    line-height: 1.5;
}

/* Styling the icons for skills, changed by each tab */
.tabcontent {
    display: none;
    padding: 15px 12px;
    border-top: none;
    animation: fadeEffect 0.75s;
}


/* Section for detailed paragraphs (work experience on main page) */
.details {
    padding: 50px 250px 75px;
    text-align: center;
    background: #d2ddff;
}

.details img {
    padding: 15px;
}

.details a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    transition: 0.3s;
    text-decoration: none;
}

.details a:hover {
    background-color: #bccbff;
    color: black;
}


/* Grouping of image and text inside details sections */
.imgtext {
    display: flex;
    text-align: center;
}

.imgtext.image {
    flex: 40%;
}

.imgtext.text {
    text-align: left;
    flex: 60%;
}


/* Styling projects page entries */
/* Wrapper for each project entry for spacing and centering */
.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px;
    text-align: center;
}

.project p {
    max-width: 80%;
}

.highlight {
    max-width: auto;
    max-height: 400px;
    width: auto;
    height: auto;
}


/* Styling for smaller screens */
@media screen and (max-width: 1000px) {
    .details {
        padding: 60px;
    }
    .skills {
        flex-direction: column;
        flex-flow: column;
    }
    .highlight {
        max-width: 700px;
    }
}


@media screen and (max-width: 750px) {
    .intro {
        text-align: center;
    }
    .about {
        flex-direction: column;
        flex-flow: column;
    }
    .aboutimg {
        padding: 15px 0px;
    }
    .abouttext {
        text-align: left;
    }
    .details {
        padding: 50px;
    }
    .imgtext {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }
    .highlight {
        max-width: 400px;
    }
}


@media screen and (max-width: 400px) {
    /* Ensure footer text can fit - double height */
    footer {
        height: 120px;
        padding: 4px 40px;
    }

    .navbar a {
        float: none;
        width: 100%;
    }
    /* Section of icon buttons */
    .icons {
        padding: 25px 15px;
    }
    /* Styling the icons for skills, changed by each tab */
    .tabcontent {
        padding: 15px 5px;
    }

    /* For details in project page, see projects.html (details is overridden) */

    .project {
        padding: 5px;   
    }
    .project p {
        max-width: 100%;
        padding: inherit;
    }
    .highlight {
        max-width: 350px;
    }
}

@media screen and (max-width: 350px) {
    .highlight {
        max-width: 300px;
    }
}


/* Styling the fade effect when mousing over buttons */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}