* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana, Trebuchet, Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 1.5;
}

/* Format warning if JS is disabled - CSS is not currently working at the moment */
noscript {
    padding: 10px;
    background: #00ff15;
}

h1 {
    font-size: 40px;
}

img {
    width: 200px; 
    height: 200px; 
    border: 0
}

.navbar {
    overflow: hidden;
    background-color: #000b30;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;  /* Don't remove this, or else it's illegible on mobile! */
}

.navbar a.top {
    float: left;
}

.navbar a:hover {
    background-color: #bccbff;
    color: black;
}


/* Controls the page header (with title of the page) */
.intro {
    padding: 60px;
    text-align: left;
    background: #00155a;
    color: white;
    font-size: 18px;
}

/* Controls the skills section (with the buttons) */
.skills {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}


progress {
    /* reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
    background-color: #c5c5c5;
}

/* Styling progress bar colours
 * Chrome/Safari */
progress::-webkit-progress-bar { background-color: #c5c5c5; }
progress::-webkit-progress-value { background-color: #5cff33 !important; }
/* Firefox */
progress::-moz-progress-bar { background-color: #5cff33 !important; }
/* IE/Edge */
progress { color: #5cff33; }


/* Section of icon buttons */
.icons {
    flex: 55%;
    background-color: white;
    padding: 25px;
}

/* Grouping of icon button (iconlink) and text */
.icon {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 150px;
}

/* The text underneath each icon */
.caption {
    display: block;
    font-size: 16px;  /* Don't remove this, or else it's illegible on mobile! */
}

/* The actual icon itself, which is a clickable button */
.iconlink {
    background-color: inherit;
    float: center;
    border: none;
    transition: 0.3s;
}

.iconlink:hover {
    background-color: #ddd;
}

.iconlink.active {
    background-color: #ccc;
}


/* Section for detailed paragraphs (work experience, projects, etc.) */
.details {
    padding: 50px 250px 75px;
    text-align: center;
    background: #d2ddff;
}

.details img {
    padding: 15px;
}

.details a {
    float: center;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    transition: 0.3s;
    text-decoration: none;
}

.details a:hover {
    background-color: #bccbff;
    color: black;
}


/* Grouping of image and text inside details sections */
.imgtext {
    display: flex;
    text-align: center;
}

.imgtext.image {
    flex: 40%;
}

.imgtext p {
    text-align: left;
    flex: 60%;
}


/* Styling the skills tab (showing brief descriptions & icon of each skill on main page) */
/* Styling the tabs for icons */
.tab {
    overflow: hidden;
}

/* Set font size of names of each tab so they aren't vanishingly small 
   Don't remove this, otherwise it's illegible on mobile! */
.tablinks {
    font-size: 16px;
}

.tab button {
    background-color: inherit;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: Verdana, Trebuchet, Helvetica, Arial, sans-serif;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}


/* The section for displaying information about each icon/skill */
.info {
    flex: 45%;
    background-color: #ececec;
    padding: 50px;
    line-height: 1.5;
}

/* Styling the icons for skills, changed by each tab */
.tabcontent {
    display: none;
    padding: 15px 12px;
    border-top: none;
    animation: fadeEffect 0.75s;
}


.footer {
    padding: 10px 60px;
    text-align: left;
    background: #000b30;
    color: white;
}

/* Styling for smaller screens */
@media screen and (max-width: 1000px) {
    .details {
        padding: 100px;
    }
    .skills {
        flex-direction: column;
    }
}


@media screen and (max-width: 750px) {
    .about {
        flex-direction: column;
    }
    .details {
        padding: 60px;
    }
    .imgtext {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }
    .imgtext.right {
        text-align: center;
        padding: 0px;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

/* Styling for mobile by detecting pixel density - supported on "all" mobile browsers 
Currently doesn't work!
@media screen and (-webkit-device-pixel-ratio: 2) {
    .about {
        flex-direction: column;
    }
    .details {
        padding: 60px;
    }
    .skills {
        flex-direction: column;
    }
    .imgtext {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }
    .imgtext.right {
        text-align: center;
        padding: 0px;
    }
    .navbar a {
        float: none;
        width: 100%;
        font-size: 24px;
        color: #00ffff;
    }
}

/* Styling for mobile by detecting pixel density 
@media (min-resolution: 300dpi) {
    .about {
        flex-direction: column;
    }
    .details {
        padding: 60px;
    }
    .skills {
        flex-direction: column;
    }
    .imgtext {
        flex-direction: column;
        text-align: center;
        padding: 0px;
    }
    .imgtext.right {
        text-align: center;
        padding: 0px;
    }
    .navbar a {
        float: none;
        width: 100%;
        font-size: 24px;
        color: #00ff15;
    }
}


/* Styling the fade effect when mousing over buttons */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}